node_modules
.env
g11n-credentials.json
weather-credentials.json
conversation-credentials.json
translation-credentials.json
chain-credentials.json
cloudant-credentials.json
twilio-credentials.json
sso-credentials.json
redis-credentials.json
speech-to-text-credentials.json
text-to-speech-credentials.json
npm-debug.log
keyValStore-*
.dockerignore
.cfignore