doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
  title Assessor View
  // Bootstrap
  link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
  link(rel='stylesheet', href='stylesheets/bootstrap-theme.min.css')
  link(rel='stylesheet', href='stylesheets/bootstrap-table.min.css')
  link(rel='stylesheet', href='stylesheets/style.css')
  // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
  // WARNING: Respond.js doesn't work if you view the page via file://
  //if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
nav.navbar.navbar-default.navbar-inverse.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbarCollapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
.container
  .jumbotron
    h1#titleAssessor
    p#aboutAssessor 
.container
  .row
    .col-sm-12
      #accordion.panel-group
        .panel.panel-default
          .panel-heading
            h4.panel-title
              a#claim-tab(data-toggle='collapse', data-parent='#accordion', href='#claim')
          #claim.panel-collapse.collapse.in
            .panel-body
              form
                .form-group
                  label#policy-label(for='policy')
                  input#policy.form-control(type='text')
                  label#claim-reason-label(for='reason')
                  input#reason.form-control(type='text', disabled='')
                  label#claim-amount-label(for='amount')
                  input#amount.form-control(type='text', disabled='')
                  label#vehicle-label(for='vehicle')
                  input#vehicle.form-control(type='text', disabled='')
                  label#last-action-label(for='assignment')
                  input#assignment.form-control(type='text', disabled='')
                button#submit-policy.btn.btn-default(type='button')
        .panel.panel-default
          .panel-heading
            h4.panel-title
              a#adjustor-tab(data-toggle='collapse', data-parent='#accordion', href='#adjustor')
           #adjustor.panel-collapse.collapse
            .panel-body
              form
                .form-group
                  label#adjustor-label(for='adjustor-select')
                  select#adjustor-select.form-control(disabled)
                button#submit-adjustor.btn.btn-default(type='button', disabled)
        .panel.panel-default
          .panel-heading
            h4.panel-title
              a#payee-tab(data-toggle='collapse', data-parent='#accordion', href='#payee')
           #payee.panel-collapse.collapse
            .panel-body
              form
                .form-group
                  div.form.group
                    label#payee-type Payee Type
                    .radio
                      label
                        input#optionsBank(type="radio", name="optionsRadios", value="bank", disabled)
                    .radio
                      label
                        input#optionsPolicyHolder(type="radio", name="optionsRadios", value="policy-holder", disabled)
                    .radio
                      label
                        input#optionsRepairFacility(type="radio", name="optionsRadios", value="repair-facility", disabled)
                  div.form.group
                    label#payee-label(for='payee-select') 
                    select#payee-select.form-control(disabled)
                button#submit-payee.btn.btn-default(type='button', disabled)
        .panel.panel-default
          .panel-heading
            h4.panel-title
              a#history-tab(data-toggle='collapse', data-parent='#accordion', href='#history')
           #history.panel-collapse.collapse
            .panel-body
              table#history-table


// jQuery (necessary for Bootstrap's JavaScript plugins)
script(src='javascripts/jquery-3.1.0.min.js')
// Include all compiled plugins (below), or include individual files as needed
// Latest compiled and minified JavaScript
script(src='javascripts/bootstrap.min.js')
script(src='javascripts/bootstrap-table.min.js')
script(src='javascripts/bootstrap-table-locale-all.min.js')
script(src='javascripts/spin.min.js')
script(src='javascripts/resources.js')
script(src='javascripts/policy.js')
script(src='javascripts/blockchain.js')
script(src='javascripts/assessor.js')