
doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
  title Customer Lookup
  // Bootstrap
  link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
  link(rel='stylesheet', href='stylesheets/bootstrap-theme.min.css')
  // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
  // WARNING: Respond.js doesn't work if you view the page via file://
  //if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  style.
    #map {
    width: 100%;
    height: 400px;
    }
nav.navbar.navbar-default.navbar-inverse.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbarCollapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
.container
  .jumbotron
    h1#title
    p#about
.container
  #agent-response.well
  .input-group
    span.input-group-btn
      button#insurance-query-button.btn.btn-default(type='button')
    input#insurance-query.form-control(type='text',autofocus='autofocus')
.container
  hr
.container
  .row
    .col-sm-8
      #accordion.panel-group
        .panel.panel-default
          .panel-heading
            h4.panel-title
              a#policy-tab(data-toggle='collapse', data-parent='#accordion', href='#policy')
          #policy.panel-collapse.collapse.in
            .panel-body
              form
                .form-group
                  label#family-message(for='family')
                  input#family.form-control(type='text', disabled='')
                  label#given-message(for='given')
                  input#given.form-control(type='text', disabled='')
                  label#city-message(for='city')
                  input#city.form-control(type='text', disabled='')
                  label#state-message(for='state')
                  input#state.form-control(type='text', disabled='')
                  label#policy-type-message(for='policy-type')
                  input#policy-type.form-control(type='text', disabled='')
                  label#numbers-message(for='number-of-policies')
                  input#number-of-policies.form-control(type='text', disabled='')
                  label#coverage-message(for='coverage')
                  input#coverage.form-control(type='text', disabled='')
                  label#effective-message(for='effective')
                  input#effective.form-control(type='text', disabled='')
                  label#inception-message(for='policy-months')
                  input#policy-months.form-control(type='text', disabled='')
                  label#monthly-message(for='monthly-premium')
                  input#monthly-premium.form-control(type='text', disabled='')
                  label#vehicle-message(for='vehicle')
                  input#vehicle.form-control(type='text', disabled='')
        .panel.panel-default
          .panel-heading
            h4.panel-title
              a#claims-tab(data-toggle='collapse', data-parent='#accordion', href='#claims')
          #claims.panel-collapse.collapse.in
            .panel-body
              form
                .form-group
                  label#claim-message(for='months-since-claim')
                  input#months-since-claim.form-control(type='text', disabled='')
                  label#claim-reason(for='reason')
                  input#reason.form-control(type='text', disabled='')
                  label#claim-amount(for='amount')
                  input#amount.form-control(type='text', disabled='')
        .panel.panel-default
          .panel-heading
            h4.panel-title
              a#offers-tab(data-toggle='collapse', data-parent='#accordion', href='#offers')
          #offers.panel-collapse.collapse.in
            .panel-body
              form
                .form-group
                  label#offer-message(for='special-offers')
                  input#special-offers.form-control(type='text', disabled='')
    .col-sm-4
      .form-group
        label#weather(for='forecast')
        textarea#forecast.form-control(rows='5')
        label#actions(for='recommendations')
        textarea#recommendations.form-control(rows='5')
      #map
// jQuery (necessary for Bootstrap's JavaScript plugins)
script(src='javascripts/jquery-3.1.0.min.js')
// Include all compiled plugins (below), or include individual files as needed
// Latest compiled and minified JavaScript
script(src='javascripts/bootstrap.min.js')
script(src='javascripts/policy.js')
script(src='javascripts/conversation.js')
script(src='javascripts/weather.js')
script(src='javascripts/resources.js')
script(src='javascripts/agent.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCD6kbd2fgAga9jL-rhuVBAGRA6I04R73E&callback=initMap', async='', defer='')